.about {
  flex-direction: column;
  margin-top: 3em;
}

.about h1 {
  display: flex;
  align-items: center; /* Center align cursor */
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

.cursor {
  display: inline-block;
  width: 4px; /* Adjust cursor thickness */
  height: 1em; /* Adjust cursor height */
  background-color: var(--clr-primary); /* Match cursor color with text */
  margin-left: 0.2em; /* Add a small gap between cursor and text */
  animation: blink 0.8s infinite; /* Adjust blink animation duration */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

